@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap");

html {
    background-color: white;
    color: #317B22;
}

h1, h2 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: #A76F25;
}

a {
    color: #9AC2C9;
}

img {
    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FFF07C;
    padding: 10px;
    grid-gap: 10px;
}

.grid {
    background-color: #253C78;
    border: 1px solid rgba(0,0,0,0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding: 15px;
    grid-gap: 10px;
}

.item {
    background-color: #253C78;
    border: 5px solid #9AC2C9;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #FFF07C;
}

.name {
    font-size: medium;
}

.price {
    font-size: large;
}

.sell {
    color:#FFF07C;
}

.save {
    font-size: larger;
    color: #317B22;
}

.returnHome {
    position: absolute;
    top: 0;
    right: 0;
}



