@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");


.container {
    margin: auto;
    width: 50%;
    padding: 5px;
    font-family: 'Handlee', cursive;
    background: #FFFFCC;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

.todo-filters {
    border: 1px solid black;
}

button {
    background: none;
    border: 0px;
}

#addBtn {
    border: 1px solid black;
}


.checked {
    text-decoration: line-through;
    text-decoration-color: red;
}

#todos {
    border: 1px solid black;
}

button.complete-btn {
    float: left;
    width: 10%;
    border: 1px solid black;
    border-width: 2px;
    margin-right: 25%;
}

div.todo {
    padding-top: 10px;
}

div.todo-content {
    float: left;
    width: 33%;
}

div.todo-filters {
    display: block;
    padding: 5px;
}



#todoInput {
    width: 90%;
}